body.cms.ss-uploadfield-edit-iframe {
    overflow: visible;
}
body.cms.ss-uploadfield-edit-iframe .Actions {
    margin-bottom: 10px;
}
/*#FocusPoint {
    min-height: 230px;
}*/
#FocusPoint.focuspoint-fieldgroup .fieldgroup-field { display: block; }
#FocusPoint.focuspoint-fieldgroup .fieldgroup-field .fieldholder-small { display: none; }

#FocusPoint p.cropper_instruction {
    margin-top: 2px;
    margin-bottom: 0;
}
.cropper-center { display: none; }